.contenedorItems{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1.5rem;
  column-gap: 2em;
}

.contenedorItems > .item{
  flex-basis: 15rem;
}

.comic-en-lista{
  animation-name: aparecerComics;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.comic-en-lista:hover{
  transform: scale(1.1);
}

@keyframes aparecerComics{
  from { transform: rotateY(90deg); }
  to { transform: rotateY(0deg); }
}