.contenedor-articulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1.5rem;
    column-gap: 1em;
    align-items: center;
    /* border: solid rgba() 1px; */
    box-shadow: 0 0 10px lightgray;
}

.contenedor-articulo > .articulo {
    flex-basis: 15%;
}

.img-carrito{
    height: 120px !important;
    width: 75px !important;
}
