body {
  margin: 0;
  font-family: 'Roboto', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0px;
}

code {
  font-family: 'Roboto', sans-serif;
}

.container-fluid{
  width: 95%;
}

.cursor-pointer{
  cursor: pointer;
}

.onequarter-width{
  width: 25% !important;
}

@media screen and (max-width: 720px) {
  .w100-mobile{
    width: 100% !important;
  }
}
